@font-face {
    font-family: 'Minecraft';
    src: url('assets/Title.otf') format('truetype');
}

@font-face {
    font-family: 'Reg_Text';
    src: url('assets/Reg_Text.otf') format('truetype');
}

:root{
    --text-black: #000;
    --accent-grad: linear-gradient(90deg,#facc15,#fde047);
    --muted: #4b5563;
    --container: 1150px;
    --radius: 12px;
    --nav-hover-bg: rgba(250, 204, 21, 0.15);
    --soft-blue: #eef6ff;
}

body {
    font-family: 'Reg_Text', sans-serif;
    font-size: 15px;
    user-select: none;
}

a {
    color: var(--text-black);
    text-decoration: none;
}

.site-header{
    background: transparent;
    padding: 14px 20px;
    position: sticky;
    top: 0;
    z-index: 60;
}

.container{
    max-width: var(--container);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.brand{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-black);
}

.brand-logo{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.brand-text{
    font-family: 'Minecraft', sans-serif;
    font-size: 25px;
    color: var(--text-black);
}

.nav{
    display: flex;
    gap: 15px;
    align-items: center;
}

.active {
    background-color: gainsboro;
    border-bottom: gray 4px solid;
}

.nav-link{
    padding: 10px;
    border-radius: 10px;
    transition: all .15s ease;
}

.nav-link:hover{
    color: white;
    background: linear-gradient(90deg,#facc15,#f97316);
    transform: scale(1.05);
    box-shadow: 3px 3px 1px #ff680066;
    border: transparent;
}










.first_block {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  perspective: 1000px;
}

.image_wrap {
    position: relative;
    width: 95%;
    max-width: 1100px;
    aspect-ratio: 16/9;
    border-radius: 12px;
    overflow: visible;
    background-image: url("assets/header_bg.avif");
    background-size: cover;
    background-position: center;
    transition: transform 0.1s;
    transform-style: preserve-3d;
}

.header_overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #ff6300, #ff9b0087);
  z-index: 2;
  border-radius: inherit;
}

.side_image {
  position: absolute;
  bottom: -25px;
  right: -60px;
  width: 320px;
  z-index: 5;
  pointer-events: none;
  transition: transform 0.1s;
}

.text-wrap {
    position: relative;
    z-index: 3;
    padding: 100px 80px;
    color: #eef6ff;
    font-family: 'Reg_Text', sans-serif;

    h1 {
        font-size: 35px;
        margin: 25px 0;
        font-family: 'Minecraft', sans-serif;
    }

    h2 {
        font-size: 25px;
        margin: 0;
    }
}